@use 'base/variables' as v;
@use 'base/mixins' as mixins;


.boton{
    @include mixins.boton (v.$azul,v.$blanco);
}

.boton-eliminar{
    @include mixins.boton (v.$rojo,v.$blanco);
    text-align: center;
    border-radius: 2rem;
    text-transform: capitalize;
}